.title {
    height: 4vh;
}
.title > h1{
    position: relative;
    top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 4vh  ;
    margin-block-start: 0px;
    margin-block-end: 0px;
    display: inline;
    padding-right: 5vh;
}