.Title {
    height: max-content;
}
.Title > h1{
    position: relative;
    top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;

    display: inline;
    padding-right: 5vh;

    float: left;

    /* disable default css */
    margin-block-start: 0px;
    margin-block-end: 0px;
}