div.SectionScroller {
    height: 100%;
    width: 90%;
    background-color: red;

    /* Auto scroll snap */
/*    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
*/
}