
.ContentContainer {
    height: 92vh;
    background-color: lightsalmon;
    position: relative;
    left: 0px;
    float: left;

    scroll-snap-align: start;
}

@media screen and (max-width: 640px){
    .ContentContainer {
        width: 100%;
    }
}
@media screen and (min-width: 640px) and (max-width: 1024px) {
    .ContentContainer {
        width: 50%;
    }
}
@media screen and (min-width: 1024px){
    .ContentContainer {
        width: 25%;
    }
}