.Version {
    font-size: 3vh;
    font-weight: bold;
    background-color: gray;

    height: 100%;
    vertical-align: middle;

    /* give it an oval shape */
    -moz-border-radius: 3vh/1vw;
    -webkit-border-radius: 3vh/1vw;
    border-radius: 3vh/1vw;

}