header {
    /* put the thing in the right place */
    position: relative;
    top: 0vh;
    left: 0vw;

    /* make sure it shows up if there is an overlap with layout body */
    z-index: 50;

    /* size it */
    width: 100%;
    height: max-content;
    background-color: green;

    display: flex;
}




/* The dynamic css should only work when on a cellphone */
/* Define gridlayout and style for Cellphones*/
@media screen and (max-width: 640px){
    .header-active{
        position: fixed;
        transition: 0.3s linear;
    }
    .header-hidden{
        display: none;
        transition: 0.3s linear;
    }
}