header {
    /* put the thing in the right place */
    position: relative;
    top: 0vh;
    left: 0vw;

    /* make sure it shows up if there is an overlap with layout body */
    z-index: 50;

    /* size it */
    height: 4vh;
    width: 100%;

    /* style it */
    background-color: blue;
    color: white;
    font-weight: bold;
}

.header-logo {
    height: 4vh ;
    width: 4vh;
    background-color: red;
    float: left;
}

/* The dynamic css should only work when on a cellphone */
/* Define gridlayout and style for Cellphones*/
@media screen and (max-width: 640px){
    .header-active{
        position: fixed;
        transition: 0.3s linear;
    }
    .header-hidden{
        display: none;
        transition: 0.3s linear;
    }
}