div.Navigation {
    top: 4vh;
    position: fixed;
    left: 0vw;

    height: calc(100% - 8vh + 1px);
    width: max-content;
    max-width: 25%;

    z-index: 50;

    background-color: grey;
    color: white;
    font-weight: bold;

    float: left;
}

.navigation-active{
    transition: 0.3s linear;
}
.navigation-hidden {
    width: 1vw !important;
}

.navigation-hidden * {
    display: none;
    transition: 0.3s linear;
}