div.Navigation {
    height: 92vh;
    width: max-content;
    max-width: 25vh;
    background-color: grey;
    color: white;
    font-weight: bold;
    top: 4vh;
}

/* The dynamic css should only work when on a cellphone */
/* Define gridlayout and style for Cellphones*/
@media screen and (max-width: 640px){
    .navigation-active{
        position: fixed;
        transition: 0.3s linear;
    }
    .navigation-hidden {
        width: 2vw !important;
    }
    
    .navigation-hidden * {
        display: none;
        transition: 0.3s linear;
    }
    
}