div.ExpandingPanel {
    top: 4vh;
    position: fixed;
    left: 0vw;

    height: calc(100% - 8vh + 1px);
    width: max-content;
    min-width: 1vw;

    z-index: 50;

    background-color: grey;
    color: white;
    font-weight: bold;

    float: left;
}

.ExpandingPanel-active{
    transition: 0.3s linear;
}
.ExpandingPanel-hidden {
    width: 1vw !important;
}

/* Dont render the children */
.ExpandingPanel-hidden * {
    display: none;
    transition: 0.3s linear;
}