div.SummaryPanel {
    position: relative;
    height: 100%;
    width: 100%;
}

/* right side */
div.SummaryPanel > div.SummaryPanel-SummaryInfo {
    height: 100%;
    width: 50%;
    background-color: green;
    float: left;
}

div.SummaryPanel-SummaryInfo > div.Rating {
    display: block;
    padding-right: 5%;
    height: max-content;
}
div.SummaryPanel-SummaryInfo > div.Authors {
    display: inline;

}
div.SummaryPanel-SummaryInfo > div.Description {
    background-color: lime;
    max-height: 40%;
}
div.SummaryPanel > div > div.RecipeSummaryImages {
    background-color: aqua;
    float: left;
    max-height: 50%;
    width: 100%;
}
div.SummaryPanel > div.RecipeSummaryNutritionInfo {
    float: left;
    height: 100%;
    width: 50%;
    background-color: yellow;
}

