div.Rating {
    width: 100%;
    height: max-content;
    background-color: antiquewhite;
}
div.Rating > span {
    height: 4vh;
}
div.Rating > span > img.star-img {
    display: inline-block;
    height: 4vh;
}
div.Rating > span:nth-child(1){
    padding-right: 1vw;    
}
div.Rating > span:nth-child(2){
    display: inline-block;
    line-height: 4vh;
}