header {
    height: 4vh;
    width: 100vw;
    background-color: blue;
    color: white;
    font-weight: bold;
}
.header-logo {
    height: 4vh;
    width: 4vh;
    background-color: red;
    float: left;
}

/* The dynamic css should only work when on a cellphone */
/* Define gridlayout and style for Cellphones*/
@media screen and (max-width: 640px){
    .header-active{
        position: fixed;
        transition: 0.3s linear;
    }
    .header-hidden{
        display: none;
        transition: 0.3s linear;
    }
}