.Section {
    height: 100%;
    float: left;

}
div.scroll-snap-align-start {
    scroll-snap-align: start;
}

/* For phone screens */
@media screen and (max-width: 640px)
{
    .Section {
        width: 100%;
        background-color: yellow;
    }
}

/* For tablet screens */
@media screen and (min-width: 640px) and (max-width: 1024px)
{
    .Section {
        width: 50%;
        background-color: orange;
    }   
}

/* For desktop */
@media screen and (min-width: 1024px){
    .Section {
        width: 25%;
        background-color: cadetblue;
    }   
}