div.Panel {
    border: 2px;
    background-color: azure;
    border-color: red;
}

div.panel-scoller {
    height: 96%;
    width: 100%;

    /* Auto scroll snap */
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

div.panel-scoller > div.scroll-panel {
    height: 100%;
    scroll-snap-align: start;
}