#header {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 10vh;
    width: 100vw;
    background-color: blue;
}

#layout-body {
    position: absolute;
    top: 10vh;
    left: 0vh;
    height: 85vh;
    width: 100vw;
}

#footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 5vh;
    width: 100vw;
    background-color: blue;
}

