#root {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
/* Define the names of the grid areas*/
.header {
    grid-area: header-area;
}
.layout-body {
    grid-area: content-area;
}
.navigation {
    grid-area: nav-area;
}
.footer {
    grid-area: footer-area;
}

/* Configure the wrapper as a grid */
.wrapper {
    display: grid;
    gap: 0vh;
    grid-template-areas:
        "header-area"
        "nav-area"
        "content-area"
        "footer-area";
}

/* Define gridlayout and style for Cellphones*/
@media screen and (max-width: 640px){
    .wrapper{
        grid-template-columns: 1fr;
        grid-template-areas:
            "header-area"
            "nav-area"
            "content-area"
            "footer-area"
    }
}


/* Define gridlayout and style for Tablets*/
@media screen and (min-width: 640px) and (max-width: 1024px) {
    .wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "header  header"
        "nav     nav"
        "content content"
        "footer  footer";
    }
}

/* Define gridlayout and style for Desktops*/
@media screen and (min-width: 1024px){
    .wrapper {
        grid-template-columns: 1fr 2fr 2fr 2fr 2fr;
        grid-template-areas:
        "header  header  header  header"
        "nav     nav     nav     nav"
        "content content content content"
        "footer  footer  footer  footer";
    }
}